.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.list_unstyled li{list-style: none;}

.content {background: #eee;color: #000;border: 2px solid black;width: 50%;margin: 20px auto;text-align: center;padding: 20px;}
.content p{margin-bottom: 5px;margin-top: 0;}

